.bp-small--hidden {
    display: none;

    @media (min-width: $breakpoint_small) {
        display: inherit;
    }
}

.bp-small--visible {
    display: inherit;

    @media (min-width: $breakpoint_small) {
        display: none;
    }
}

.bp-med--hidden {
    display: none;

    @media (min-width: $breakpoint_medium) {
        display: inherit;
    }
}

.bp-med--visible {
    display: inherit;

    @media (min-width: $breakpoint_medium) {
        display: none;
    }
}
