/*------------------------------------*\
  #LINKS
\*------------------------------------*/

// GLOBAL LINK STYLE
a {
  border-bottom: 1px solid $primary-color;
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  border: none;
  opacity: 0.75;
}

a:visited {
  color: $primary-color;
}
