/*------------------------------------*\
  #TABBING CLASSES
\*------------------------------------*/

// REMOVE FOCUS WHEN USER IS USING MOUSE
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

// DEFAULT BUTTON STYLES
.btn {
  background: $gray-2;
  border: none;
  @include global-box-shadow;
  @include border-radius($btn-border-radius);
	color: $black;
  cursor: pointer;
	display: inline-block;
  font-family: inherit;
  font-size: $ui-type-size;
  height: $controls-height;
  line-height: $ui-line-height;
  margin: 0;
  -moz-appearance: none;
  padding: 0.75rem 1rem;
  text-align: center;
	text-decoration: none;
	-webkit-appearance: none;

  @include transition(background-color $animate-time-fast ease);
}

.btn:hover, .btn:focus {
  // opacity: 0.85;
  background-color: $gray-3;
}

.btn:active {
  background-color: $gray-3;
}

.btn > * {
  pointer-events: none;
}

// MODIFIER FOR ICON-ONLY BUTTONS
.btn--icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  @include border-radius(50%);
  padding: 0;
  width: $controls-height;
}

// MODIFIER FOR PRIMARY CONTROL
.btn--primary {
  background-color: $primary-color;
  height: $primary-btn-size;
  width: $primary-btn-size;
}

.btn--primary:hover {
  background-color: $primary-color-dark;
}

// TOGGLE BUTTON MODIFICATION
.btn--toggle {
  @include border-radius(0);
  box-shadow: none;
  @include flex(1);

  &:first-child {
    @include border-radii($btn-border-radius, 0, 0, $btn-border-radius);
  }

  &:last-child {
    @include border-radii(0, $btn-border-radius, $btn-border-radius, 0);
  }
}

// ACTIVE CLASS FOR THE SELECTED BUTTON
.btn--toggle-selected {
	background-color: $primary-color;
	color: $white;
  opacity: 1;
}

.btn--toggle-selected:hover {
  background-color: $primary-color;
}



// ===========================================
// TEXT BUTOTNS (LOOK LIKE LINKS)
// ===========================================

.btn--txt {
  background: none;
  border: none;
  @include border-radius(0);
  box-shadow: none;
	display: block;
  height: $content-line-height;



	text-align: left;

  border-bottom: 1px solid $primary-color;
  padding: 0;
  // TEXT
  font-size: $content-font-size;
  line-height: $content-line-height;
  color: $primary-color;
  @include bp1 {
    border: none;
  }
}

.text-button:hover {
  // APPEARANCE
  cursor: pointer;
  background-color: $white;
}

.text-button:focus {
  // APPEARANCE
  background-color: $white;
}



/*------------------------------------*\
  #SLIDER
\*------------------------------------*/

.range-slider {
	@include input-type-range;
  margin: 0;
}



/*------------------------------------*\
  #BUTTON ICONS
\*------------------------------------*/

.btn--about { background-image: url(../assets/icons/close.svg); }
.btn--close { background-image: url(../assets/icons/close.svg); }
.btn--refresh { background-image: url(../assets/icons/refresh.svg); }
.btn--pause { background-image: url(../assets/icons/pause.svg); }
.btn--play { background-image: url(../assets/icons/play.svg); }
