/*------------------------------------*\
  #TYPOGRAPHY & SIZING
\*------------------------------------*/

$base-font-size:            16px !default;

// FONT WEIGHTS
$font-weight-normal:        400 !default;
$font-weight-heavy:         700 !default;

// HEADLINE
$headline-font-size:        1.5rem !default;
$headline-line-height:      2rem !default;

// CONTENT
$content-font-size:         1.125rem !default;
$content-line-height:       1.75rem !default;
$content-font-size-sm:      1rem !default;
$content-line-height-sm:    1.5rem !default;

// Note Display
$note-display-font-size:    2rem !default;
$note-display-font-size-sm: 1.25rem !default;
$note-display-line-height:  1 !default;

// CONTROL BUTTON LABELS
$ui-label-font-size:        .9375rem !default;
$ui-label-font-size-sm:     .8125rem !default;
$ui-label-line-height:      1.25rem !default;

// CONTROL BUTTON TYPE
$ui-type-size:              0.875rem !default;
$ui-line-height:            1rem !default;



/*------------------------------------*\
  #GRIDS AND SPACING
\*------------------------------------*/

// ELEMENT SIZING
$top-bar-height:          2.75rem;
$control-bar-height:      5rem;

// CONTENT
$content-max-width:       38rem !default;

// CONTROL PANEL
$controls-max-width:      80rem !default;
$controls-max-height:     4rem !default;  // height of control + label
$controls-height:         2.5rem !default; // height of each control

// PRIMARY BUTTON SIZING
$primary-btn-size:        4rem !default;



/*------------------------------------*\
  #COLOR PALETTE
\*------------------------------------*/

// GRAYSCALE
$white:  #FFFFFF;
$gray-1: #f8f9fa;
$gray-2: #ebedef;
$gray-3: #dee1e3;
$gray-4: #C2C8CB;
$gray-5: #3e3e42;
$black:  #111112;

// UI COLOR
$primary-color:         #650cb9 !default; // PURPLE
$primary-color-dark:    #490985 !default;
$primary-color-light:   #8F27F1 !default;



/*------------------------------------*\
  #ANIMATION BEHAVIORS
\*------------------------------------*/

$animate-time-fast:     0.15s !default;
$animate-time-slow:     0.35s !default;



/*------------------------------------*\
  #STYLING
\*------------------------------------*/

$btn-border-radius: 0.25rem;



/*------------------------------------*\
  #RESPONSIVE BREAKPOINTS
\*------------------------------------*/

$bp-1: 37.5rem; // 600px
$bp-2: 45rem; // 720px
