/*------------------------------------*\
  # SITE CONTAINER
\*------------------------------------*/

html, body { height: 100%; }

.site-container {
  @include flexbox;
  @include flex-flow(column nowrap);
  height: 100%;
  @include justify-content(space-between);
}



/*------------------------------------*\
  #GLOBAL PADDING FOR CORE LAYOUT
\*------------------------------------*/

.main-container, .top-bar, .control-bar, .about {
  @include horizontal-layout-padding;
}



/*------------------------------------*\
  #CONTAINER FOR MAIN INTERACTION AREA
\*------------------------------------*/

.main-container {
  @include align-items(center);
  // height: calc(100vh - #{$top-bar-height} - #{$control-bar-height});
  @include flexbox;
  @include flex-flow(row nowrap);
  @include flex(1 1 auto);
  height: 100%;
  @include justify-content(space-between);
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include bp1 {
    @include flex-flow(column nowrap);
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}



/*------------------------------------*\
  #TOP BAR AND CONTROL BAR
\*------------------------------------*/

// SHARED STYLES
.top-bar, .control-bar {
  @include flexbox;
  @include flex-flow(column nowrap);
  @include flex(0);
  @include justify-content(center);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

// CONTAINER FOR ALL CONTROL ELEMENTS
.top-bar__inner-container, .control-bar__inner-container {
  @include flexbox;
  @include flex-flow(row nowrap);
  @include justify-content(space-between);
  width: 100%;
}



/*------------------------------------*\
  #TOP BAR
\*------------------------------------*/

.top-bar {
  @include align-items(center);
  border-bottom: 1px solid $gray-2;
  @include bp1 {
    height: $top-bar-height-sm;
  }
}


/*------------------------------------*\
  #CONTROL BAR
\*------------------------------------*/

.control-bar {
  border-top: 1px solid $gray-3;
  @include bp1 {
    height: $control-bar-height-sm;
  }
}

// MAX WIDTH FOR CONTROLS CONTAINER
.control-bar__inner-container {
  margin: 0 auto;
  max-width: $controls-max-width;
  max-height: $controls-max-height;
}

// CONTAINER FOR EACH CONTROL
.control-bar__control-container {
  // LAYOUT
  flex: 1;
  margin-left: 2rem;
  &:first-child {
    margin-left: 0;
  }
  width: 100%;

  @include bp1 {
    width: auto;
    margin-left: 1rem;
  }
}

// MODIFY BUTTON CONTAINERS TO NOT STRETCH
.control-bar__control-container--btn {
  @include flex(0);
  text-align: center;
}

.control-bar__control-label-container {
  margin-bottom: 0.25rem;
}

.control-bar__control-label-container--with-readout {
  @include flexbox;
  @include flex-flow(row nowrap);
  @include justify-content(space-between);
}

.control-bar__control {
  height: $controls-height;
}

// MODIFIER FOR HEIGHT OF PRIMARY CONTROL
.control-bar__control--primary {
  height: 100%;
}

// MODIFIER FOR GROUP OF TOGGLE BUTTONS
.control-bar__control--toggle-group {
  @include flexbox;
  @include flex-flow(row nowrap);
  @include justify-content(flex-start);
}

// MODIFIER FOR VERTICALLY CENTERING CONTROL
.control-bar__control--ctrY {
  @include flexbox;
  @include flex-flow(column nowrap);
  @include justify-content(center);
}



/*------------------------------------*\
  #ABOUT CONTENT
\*------------------------------------*/

// FULL SCREEN MODAL STYLE
.about {
  background-color: $gray-1;
  height: 100%;
  left: 0;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  @include transition(opacity $animate-time-fast linear);
  @include transition(visibility $animate-time-fast linear);
  visibility: hidden;
  width: 100%;
  z-index: 100;
}

// MOIFIER TO MAKE MODAL VISIBLE
.about--visible {
  opacity: 0.99;
  pointer-events: auto;
  @include transition(visibility $animate-time-fast linear);
  @include transition(opacity $animate-time-fast ease-in);
  visibility: visible;
}

.about_close-btn-container {
  position: absolute;
  right: 3rem;
  top: 1.25rem;

  @include bp1 {
    top: 1rem;
    right: 1rem;
  }
}

.about_content-container {
  margin: 0 auto;
  max-width: $content-max-width;
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 100%;
}

.about_content-section {
  // LAYOUT
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}
