// ===========================================
// RESPONSIVE / MEDIA QUERIES
// ===========================================

// SMALLEST SCREENS
@mixin bp1 {
  @media (max-width: #{$bp-1}) {
    @content;
  }
}

// SMALLEST SCREENS
@mixin bp2 {
  @media (max-width: #{$bp-2}) {
    @content;
  }
}

// HIDE ON SMALLEST SCREENS
.bp1-hidden {
  @media (max-width: #{$bp-1}) {
    display: none !important;
  }
}

// SHOW ON SMALLEST SCREENS
.bp1-visible {
  @media (min-width: #{$bp-1}) {
      display: none;
    }
}

// ===========================================
// GLOBAL STYLES
// ===========================================

// INDIVIDUAL BORDER RADII
@mixin border-radii($topleft, $topright, $bottomright, $bottomleft) {
	border-top-left-radius: $topleft;
	border-top-right-radius: $topright;
	border-bottom-right-radius: $bottomright;
	border-bottom-left-radius: $bottomleft;
}

@mixin global-box-shadow( $horiz : 0px , $vert : 2px, $blur : 4px , $spread : 0px , $color : rgba(17, 17, 18, 0.15) ) {
  box-shadow: $horiz $vert $blur $spread $color;
}

// GLOBAL LAYOUT PADDING
@mixin horizontal-layout-padding {
  padding-left: 3rem;
  padding-right: 3rem;
  @include bp1 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
