/*------------------------------------*\
  #HEADERS
\*------------------------------------*/

h1 {
  line-height: $content-line-height;
  font-size: $content-font-size;
  font-weight: $font-weight-normal;

  // RESPONSIVE
  @include bp1 {
    font-size: $content-font-size-sm;
    line-height: $content-line-height-sm;
  }
}

h2, h3 {
  font-weight: $font-weight-heavy;
  line-height: $headline-line-height;
}

h2 {
  font-size: $headline-font-size;
  margin-bottom: 2rem;
}

p {
  font-size: $content-font-size;
  line-height: $content-line-height;
  margin-bottom: $content-line-height;
  &:last-child {
    margin-bottom: 0;
  }
  // RESPONSIVE
  @include bp1 {
    font-size: $content-font-size-sm;
    line-height: $content-line-height-sm;
  }
}

// CONTROL LABELS
.control-bar__control-label, .control-bar__control-readout {
  font-size: $ui-label-font-size;
  line-height: $ui-label-line-height;

  @include bp1 {
    // font-size: $ui-label-font-size-sm;
  }
}

// note ON EACH TONE TOGGLE
.tone-toggle_note-display {
  color: inherit;
  font-size: $note-display-font-size;
  font-weight: bolder;
  line-height: $note-display-line-height;
  margin: 0;
  @include bp2 {
    font-size: $note-display-font-size-sm;
  }
}

// GLOBAL MODIFIERS
.heavy { font-weight: $font-weight-heavy; }
.small { font-size:  $ui-label-font-size; }

// CENTER TEXT ON SMALLEST SCREENS
.t-ctr-bp1 {
  @include bp1 {
    text-align: center;
  }
}
