a {
    color: $color_black;
    transition: all $transition-duration-base $transition-timing-base;

    &:hover {
        text-decoration: none;
    }

    &:focus {
      outline: $color_primary solid;
      outline-offset: 1px;
      text-decoration: none;
    }
}
