a {
    color: $color_black;
    text-decoration: 1px solid $color_medium-gray;
    transition: all $transition-duration-base $transition-timing-base;

    &:focus,
    &:hover {
        opacity: 0.85;
        text-decoration: none;
    }
}
