$_slider_thumb-size: 3rem;
$_slider-track-height: 1rem;
$_slider_track-color: $color_tan-4;

@mixin track {
    animation: $transition-duration-base;
    cursor: pointer;
    height: $_slider_track-height;
    width: 100%;
}

@mixin thumb {
    background: $color_white;
    border: none;
    border-radius: $border-radius_btn;
    box-shadow: 0px 2px 8px 0px hsla(208, 22%, 7%, 0.2);
    cursor: pointer;
    height: $_slider_thumb-size;
    transition: all $transition-duration-base $transition-timing-base;
    width: 1.75rem;

    &:active {
        background-color: $color_light-gray;
    }

    &:focus,
    &:hover {
        background-color: $color_off-white;
        box-shadow: 0px 2px 10px 2px rgba(17, 17, 18, 0.2);
    }
}

@mixin input-type-range {
    background: transparent;
    width: 100%;

    &::-webkit-slider-runnable-track {
        @include track;
        background: $_slider_track-color;
        border: none;
        border-radius: $border-radius_btn;
        box-shadow: none;
    }

    &::-webkit-slider-thumb {
        @include thumb;
        margin-top: calc((#{$_slider_thumb-size} - #{$_slider-track-height}) / 2 * -1);
    }

    &::-moz-range-track {
        @include track;
        background: $_slider_track-color;
        border: none;
        border-radius: $border-radius_btn;
        box-shadow: none;
    }

    &::-moz-range-thumb {
        @include thumb;
    }

    &::-ms-track {
        @include track;
        border-width: 0;
    }

    &::-ms-fill-lower {
        background: $_slider_track-color;
        border: none;
        border-radius: $border-radius_btn * 2;
        box-shadow: none;
    }

    &::-ms-fill-upper {
        background: $_slider_track-color;
        border: none;
        border-radius: $border-radius_btn * 2;
        box-shadow: none;
    }

    &::-ms-thumb {
        @include thumb;
    }

    &:focus::-ms-fill-lower {
        background: $_slider_track-color;
    }

    &:focus::-ms-fill-upper {
        background: $_slider_track-color;
    }
}
